.move {
    background-color: coral !important;
}
.selected {
    background-color: #FFFF66 !important;
}
#board{
    width:100%;
    height:auto;
    max-width: 600px;
}
th{
    width:12.5%;
    height:auto;
}
tr{
    width:12.5%;
    height:auto;
}
#contentLeft{
    float:left;
    height:80%;
}
#contentRight{
    float:left;
    height:80%;
}