<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chess Tutor</title>
    <style>
        .selected {
            background-color: #FFFF66 !important;
        }
        #board{
            width:100%;
            height:auto;
            max-width: 600px;
        }
        th{
            width:12.5%;
            height:auto;
        }
        tr{
            width:12.5%;
            height:auto;
        }
        #contentLeft{
            float:left;
            height:100%;
        }
        #contentRight{
            float:right;
            height:100%;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        //alert("{{select}}");
        //alert("{{go}}");
        //get the board/problem layout
        var board = "{{board}}".split("|");
        var row1 = board[0].split(" ");
        var row2 = board[1].split(" ");
        var row3 = board[2].split(" ");
        var row4 = board[3].split(" ");
        var row5 = board[4].split(" ");
        var row6 = board[5].split(" ");
        var row7 = board[6].split(" ");
        var row8 = board[7].split(" ");
        var board = [row1, row2, row3, row4, row5, row6, row7, row8];

        //get the image urls
        var bB = "{{url_for('static', filename='images/bB.png')}}";
        var bK = "{{url_for('static', filename='images/bK.png')}}";
        var bN = "{{url_for('static', filename='images/bN.png')}}";
        var bp = "{{url_for('static', filename='images/bp.png')}}";
        var bQ = "{{url_for('static', filename='images/bQ.png')}}";
        var bR = "{{url_for('static', filename='images/bR.png')}}";
        var wB = "{{url_for('static', filename='images/wB.png')}}";
        var wK = "{{url_for('static', filename='images/wK.png')}}";
        var wN = "{{url_for('static', filename='images/wN.png')}}";
        var wp = "{{url_for('static', filename='images/wp.png')}}";
        var wQ = "{{url_for('static', filename='images/wQ.png')}}";
        var wR = "{{url_for('static', filename='images/wR.png')}}";
        var empty = "{{url_for('static', filename='images/--.png')}}";

        //put all the images in their positions indicated by board (8x8 2d array)
        $( document ).ready(function() {

            $("th").click(function(){
                if($(this).hasClass('selected')){
                    $(this).removeClass('selected');
                }
                else{
                    $(this).addClass('selected');
                }
            });

            for(i=0;i<8;i++){
                for(j=0;j<8;j++){
                    var rowName = ".row" + (i+1).toString();
                    var colName = ".col" + (j+1).toString();
                    var squareName = rowName + " " + colName;
                    var piece = board[i][j];
                    if(piece == "bB"){
                        $(squareName).append("<img src=" + bB + " width=100% height=auto>");
                    }
                    else if(piece == "bK"){
                        $(squareName).append("<img src=" + bK + " width=100% height=auto>");
                    }
                    else if(piece == "bN"){
                        $(squareName).append("<img src=" + bN + " width=100% height=auto>");
                    }
                    else if(piece == "bp"){
                        $(squareName).append("<img src=" + bp + " width=100% height=auto>");
                    }
                    else if(piece == "bQ"){
                        $(squareName).append("<img src=" + bQ + " width=100% height=auto>");
                    }
                    else if(piece == "bR"){
                        $(squareName).append("<img src=" + bR + " width=100% height=auto>");
                    }
                    else if(piece == "wB"){
                        $(squareName).append("<img src=" + wB + " width=100% height=auto>");
                    }
                    else if(piece == "wK"){
                        $(squareName).append("<img src=" + wK + " width=100% height=auto>");
                    }
                    else if(piece == "wN"){
                        $(squareName).append("<img src=" + wN + " width=100% height=auto>");
                    }
                    else if(piece == "wp"){
                        $(squareName).append("<img src=" + wp + " width=100% height=auto>");
                    }
                    else if(piece == "wQ"){
                        $(squareName).append("<img src=" + wQ + " width=100% height=auto>");
                    }
                    else if(piece == "wR"){
                        $(squareName).append("<img src=" + wR + " width=100% height=auto>");
                    }
                    else{
                        $(squareName).append("<img src=" + empty + " width=100% height=auto>");
                    }
                }
            }
        });

    </script>
</head>
<body>
<div id="contentLeft">
{% if game %}
    <h2>Hello {{ game }}</h2>

{% else %}
    <h2>Welcome to Chess Tutor</h2>
    <h3>How to use:</h3>
    <h4>There is one comupter-generated optimal move</h4>
    <h4>Click the white piece you want to move, then click the square you want it to move to</h4>

    <form action = "http://localhost:5000/game" method = "POST">
    <p><input type = "submit" value = "Next Puzzle" /></p>
</div>

<div id="contentRight">
    <div id="board">
        <table style="width:100%; height:auto;">
            <tr class="row1">
              <th class="col1" style="background-color:#eaecd0;"></th>
              <th class="col2" style="background-color:#779555;"></th>
              <th class="col3" style="background-color:#eaecd0;"></th>
              <th class="col4" style="background-color:#779555;"></th>
              <th class="col5" style="background-color:#eaecd0;"></th>
              <th class="col6" style="background-color:#779555;"></th>
              <th class="col7" style="background-color:#eaecd0;"></th>
              <th class="col8" style="background-color:#779555;"></th>
            </tr>
            <tr class="row2">
              <th class="col1" style="background-color:#779555;"></th>
              <th class="col2" style="background-color:#eaecd0;"></th>
              <th class="col3" style="background-color:#779555;"></th>
              <th class="col4" style="background-color:#eaecd0;"></th>
              <th class="col5" style="background-color:#779555;"></th>
              <th class="col6" style="background-color:#eaecd0;"></th>
              <th class="col7" style="background-color:#779555;"></th>
              <th class="col8" style="background-color:#eaecd0;"></th>
            </tr>
            <tr class="row3">
              <th class="col1" style="background-color:#eaecd0;"></th>
              <th class="col2" style="background-color:#779555;"></th>
              <th class="col3" style="background-color:#eaecd0;"></th>
              <th class="col4" style="background-color:#779555;"></th>
              <th class="col5" style="background-color:#eaecd0;"></th>
              <th class="col6" style="background-color:#779555;"></th>
              <th class="col7" style="background-color:#eaecd0;"></th>
              <th class="col8" style="background-color:#779555;"></th>
             </tr>
            <tr class="row4">
              <th class="col1" style="background-color:#779555;"></th>
              <th class="col2" style="background-color:#eaecd0;"></th>
              <th class="col3" style="background-color:#779555;"></th>
              <th class="col4" style="background-color:#eaecd0;"></th>
              <th class="col5" style="background-color:#779555;"></th>
              <th class="col6" style="background-color:#eaecd0;"></th>
              <th class="col7" style="background-color:#779555;"></th>
              <th class="col8" style="background-color:#eaecd0;"></th>
             </tr>
            <tr class="row5">
              <th class="col1" style="background-color:#eaecd0;"></th>
              <th class="col2" style="background-color:#779555;"></th>
              <th class="col3" style="background-color:#eaecd0;"></th>
              <th class="col4" style="background-color:#779555;"></th>
              <th class="col5" style="background-color:#eaecd0;"></th>
              <th class="col6" style="background-color:#779555;"></th>
              <th class="col7" style="background-color:#eaecd0;"></th>
              <th class="col8" style="background-color:#779555;"></th>
             </tr>
            <tr class="row6">
              <th class="col1" style="background-color:#779555;"></th>
              <th class="col2" style="background-color:#eaecd0;"></th>
              <th class="col3" style="background-color:#779555;"></th>
              <th class="col4" style="background-color:#eaecd0;"></th>
              <th class="col5" style="background-color:#779555;"></th>
              <th class="col6" style="background-color:#eaecd0;"></th>
              <th class="col7" style="background-color:#779555;"></th>
              <th class="col8" style="background-color:#eaecd0;"></th>
             </tr>
            <tr class="row7">
              <th class="col1" style="background-color:#eaecd0;"></th>
              <th class="col2" style="background-color:#779555;"></th>
              <th class="col3" style="background-color:#eaecd0;"></th>
              <th class="col4" style="background-color:#779555;"></th>
              <th class="col5" style="background-color:#eaecd0;"></th>
              <th class="col6" style="background-color:#779555;"></th>
              <th class="col7" style="background-color:#eaecd0;"></th>
              <th class="col8" style="background-color:#779555;"></th>
             </tr>
            <tr class="row8">
              <th class="col1" style="background-color:#779555;"></th>
              <th class="col2" style="background-color:#eaecd0;"></th>
              <th class="col3" style="background-color:#779555;"></th>
              <th class="col4" style="background-color:#eaecd0;"></th>
              <th class="col5" style="background-color:#779555;"></th>
              <th class="col6" style="background-color:#eaecd0;"></th>
              <th class="col7" style="background-color:#779555;"></th>
              <th class="col8" style="background-color:#eaecd0;"></th>
             </tr>
        </table>
    </div>
{% endif %}
</div>
</body>
</html>